<h4 class="title">ユーザー一覧</h4>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.png", size: "100x100" %></td>
          <td><%= user.name %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>

      </tbody>

    </table>
    </div>
  </div>
</div>
<%#= paginate @items %>

