<% if flash[:notice] %>
  <div class="alert alert-success">
   <%= flash[:notice]%>
  </div>
<% end %>

<div class="top-image-main">
  <%= image_tag "top_image.jpg", class: "top-image"%>
 <h3 class="top-text-first">サウナを巡り、</h3>
 <h3 class="top-text-second">サウナ飯をシェアし、</h3>
 <h3 class="top-text-third">サウナー同士の素敵な交流がありますように</h3>
 <h6 class="top-text-fourth">※「サウナー」とは、サウナ愛好家を指す。</h6>
 <h1 class="top-text-main">SaunaRoad</h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">


    </div>
  </div>
</div>