// Place all the styles related to the PostImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-image-user {
  padding-top: 5px;
  border-bottom: solid 2px gray;
  padding-bottom: 10px;
}

.post-image-information {
 float: left;
 margin-bottom: 30px;
 border: solid 5px #FFFF88;
}


.title-post-image-list{
  padding-top: 50px;
  padding-left: 100px;
}

.post-image-list{
  display: flex;
}
.new-post-image-button{
  padding-left: 20px;
  padding-top: 45px;
}

.show-post-image{
  display: flex;
}

.post-image-button{
  padding-left: 20px;
  padding-top: 45px;
}
.sauna-paginate {
  padding-bottom: 70px;
}

.profile-introduction {
  padding-top: 20px;
}

.edit-profile {
  padding-top: 10px;
}

.follow-button {
  padding-top: 10px;
}

.user-post-image {
  margin-bottom: 20px;
}

.favorite-comment {
  display: flex;
}

.favorite {
  display: flex;
}

.favorite-mark {
  padding-left: 10px;
}

.comment {
  display: flex;
  padding-left: 30px;
}

.comment-mark {
  padding-left: 10px;
}

.show-post-image-user{
  display: flex;
  padding-top: 20px;
}

.show-post-user-name {
  padding-top: 20px;
  padding-left: 10px;
}

.show-favorite-count{
  padding-top: 20px;
  padding-left: 20px;
  margin-right: 10px;
}

.show-favorite-mark{
  padding-top: 20px;
}

.visit-sauna {
  padding-bottom: 20px;
}

.comment-user {
  background-color: #E0FFFF;
  border-top: solid 1px #dee2e6;
}

.my-comment {
  display: flex;
}

.show-post-image-time {
  color: gray;
  padding-top: 20px;
  padding-left: 20px;
}

.comment-delete {
  padding-left: 20px;
}

.new-comment {
  padding-top: 40px;
}

.index-post-image-footer {
  padding-bottom: 50px;
}

.show-post-image-footer{
  padding-bottom: 70px;
}