// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title-new-review {
  text-align: center;
  padding-top: 20px;
}

.new-star {
  text-align: center;
}

.icon {
  border-radius: 50%;
}

.review-user {
  background-color: #E0FFFF;
  border-top: solid 1px #dee2e6;
}
.relative-review-score{
  padding-top: 10px;
  padding-bottom: 20px;
}

.review-title {
  padding-top: 10px;
  border-bottom: 1px dotted ;
  display: inline-block;
}

.review-button {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}


.review-footer {
  padding-bottom: 70px;
}

.table td {
  text-align: center;
}
