.sign-in-title {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 20px;
 }


.actions {
  padding-top: 20px;
  text-align: center;
}

.sign-up {
  margin-left: 473px;
  margin-top: 30px;
}