// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table th {
  background: #FFFF88;
}

table td {
  background: #fff;
}

textarea {
  height: 200px;
}

.profile-image {
  padding-bottom: 30px;
}