// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table th {
  background: #FFFF88;
}

table td {
  background: #fff;
}

.profile-image {
  padding-bottom: 30px;
}

.footer-show-post-image{
  padding-bottom: 50px;
}

.users-footer {
  padding-bottom: 70px;
}

.show-user{
  display: flex;
}

.user-button{
  padding-left: 20px;
  padding-top: 45px;
}